asgiref==3.5.2
certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.5
cryptography==38.0.1
Django==4.0.3
django-filter==22.1
django-qr-code==3.1.1
docopt==0.6.2
idna==3.4
numpy==1.23.3
Pillow==9.2.0
pipreqs==0.4.11
pycparser==2.21
pydantic==1.10.2
pytz==2022.2.1
qrcode==7.3.1
requests==2.28.1
segno==1.5.2
sqlparse==0.4.2
typing_extensions==4.3.0
tzdata==2022.2
urllib3==1.26.12
yarg==0.1.9
